<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Edit Room</h1>
    <form action="#" method="post">
        {% csrf_token %}
        {{ message }}
        <br><br>
        <label>
            Room Name:
            <input type="text" name="name" value="{{ room.name }}">
        </label>
        <br><br>
        <label>
            Room Capacity:
            <input type="number" name="capacity" value="{{ room.capacity }}">
        </label>
        <br><br>
        <label>
            Projector:
            <select name="projector">
                <option value="0">Not Available</option>
                <option value="1">Available</option>
            </select>
        </label>
        <br><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>